* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:global(#app) {
    width: 100vw;
    background-color: #778ca3;
}
.TodoApp {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    font-weight: bold;
}